.searchbar{
  float: right;
  list-style: none;
  margin-top: 10px;
  padding-right: 50px;

}
.user{
  float: right;
  list-style: none;
  margin-top: 10px;
  padding-right: 5px;

}
.notification{
  float: right;
  list-style: none;
  margin-top: 10px;
  padding-right: 30px;
}
.nav-area{
  float: right;
  list-style: none;
  margin-top: 10px;
  padding-right: 10px;

}
.nav-area li{
  display: inline-block;

}

.nav-area li a{
   color:#0000ff;
   text-direction: none;
   padding:5px 20px;
  font-size: 14px;
}
.nav-area li a: hover{
   background: #6a329f;
   color: #6a329f;
}
.logo img{
  width:150px;
  float: left;
  padding-left: 3%;
  padding-top: 2%;

}
.catagories{
  position: center;
  list-style: none;
  margin: 20% 30%;
  padding-center: 10px;

}
.catagory a{
  display: inline-block;
}
